@page "/"

<PageTitle>Index</PageTitle>

<div class="bg-purple-200 rounded-sm text-center d-flex justify-center items-center h-[calc(100px-10px)]">
    <h1 class="text-2xl font-bold">Hello, world!</h1>
</div>

<div class="bg-white p-4 rounded shadow-sm border w-[300px] h-[300px] m-8">
    box
</div>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
